name: Deploy Next.js to Azure VM

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  NODE_VERSION: '20.x'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Remove node_modules before upload
      run: rm -rf node_modules

    - name: Install rsync
      run: sudo apt-get install -y rsync

    - name: Upload files to VM (without node_modules)
      uses: burnett01/rsync-deployments@7.0.1
      with:
        switches: -avzr --delete --exclude=node_modules --exclude=.next
        path: "./"
        remote_path: ${{ secrets.SSH_PATH }}
        remote_host: ${{ secrets.SSH_HOST }}
        remote_user: ${{ secrets.SSH_USER }}
        remote_key: ${{ secrets.SSH_KEY }}

    - name: Install & Build on VM
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          cd ${{ secrets.SSH_PATH }}
          npm install
          npm run build
          sudo systemctl restart myapp
